textarea {
    min-height: 400px;
}

.email-preview {
    margin: 1px;
    border-style: solid;
    border-color: black;
}

.email-preview:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.read {
    background-color: grey;
}

.unread {
    font-weight: bold;
}